.users {
  width: 85%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-table {
  width: 100%;
  overflow: auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 992px) {
  .users {
    border-left: none;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .filters {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
}
